.DusersContainer {
    color: #2d2d2d;
    background: #f6f7fa;
    height: 100vh;
    width: 100%;
    border-left: 1px #d6d6d6 solid;
    position: relative;
}

.dusersContent {
    height: 87%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
    padding-bottom: 80px;
}

.filterUsers {
    background: #fff;
    height: 116px;
    border: 1px #d6d6d6 solid;
    border-top: none;
    border-left: none;
    padding: 1.5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
}


.filterRow {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    height: 100%;
}
.ant-select-selection-placeholder {
    color: #ffafb7 !important;
}
