.unmatchpopup {
    text-align:  center;
    .ant-modal-content {
        border-radius: 10px !important;
        display: flex !important;
        flex-direction: row;
    }
    
    .ant-modal-body {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .header {
        display: flex;
        justify-content: space-between;
    }
    
    .newstyle:hover{
        color: #f5222d !important;
        border-color: #f5222d !important;
    }
}