.profileImgEmpty {
    flex: 1 0 21%; 
    margin: 10px;
    height: 140px;
    border-radius: 10px;
    border: 4px dashed #e4e4e4;
    background-color: #ebeff1;
    flex: 1 0 21%; 
    margin: 10px;
    height: 140px;
    position: relative;
    .add {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        position: absolute;
        bottom: -5px;
        right: -5px;
        border-radius: 50%;
            background: rgb(245,34,45) !important;
    background: linear-gradient(262deg, #ff7854, #fd267d) !important;
        box-shadow: 0 2px 10px 0 rgba(136,136,136,0.77);

    }
    .id {
        position: absolute;
        top: 7px;
        left: 7px;
        color: white;
        font-size: 15px;
        font-weight: 600;
        text-shadow: 1px 1px 8px rgba(150, 150, 150, 1);
    }
}

.mobileprofileImgEmpty {
    flex: 1 0 25%; 
    margin: 10px;
    height: 25vh;
    border-radius: 10px;
    border: 4px dashed #e4e4e4;
    background-color: #ebeff1;
    position: relative;
    .add {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        position: absolute;
        bottom: -5px;
        right: -5px;
        border-radius: 50%;
            background: rgb(245,34,45) !important;
    background: linear-gradient(262deg, #ff7854, #fd267d) !important;
        box-shadow: 0 2px 10px 0 rgba(136,136,136,0.77);

    }
    .id {
        position: absolute;
        top: 7px;
        left: 7px;
        color: white;
        font-size: 15px;
        font-weight: 600;
        text-shadow: 1px 1px 8px rgba(150, 150, 150, 1);
    }
}
