.tabs {
    height: 50vh;
}

.tabsstyle {
    font-size: 1em;
    line-height: 1;
}

.ant-tabs-tab {
    font-size: 18px !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    font-weight: 800 !important;
}

.ant-tab-nav {
    margin-left: 25px !important;
}

.tabs>.ant-tabs-top>.ant-tabs-nav,
.ant-tabs-bottom>.ant-tabs-nav,
.ant-tabs-top>div>.ant-tabs-nav,
.ant-tabs-bottom>div>.ant-tabs-nav {
    margin: 0 0 16px 25px !important;
}

.ant-tabs {
    height: 100%;
}