.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registerbtn {
    color: white !important;
    background: rgb(245,34,45) !important;
    background: linear-gradient(262deg, #ff7854, #fd267d) !important;
    border: none !important;
    cursor: pointer;
    width: 260px !important;
    height: 54px !important;
    font-size: 1.2em !important;
    font-weight: 500 !important;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.27) !important;
}

.registerbtn:hover {
    background: rgb(253,38,125) !important;
    background: linear-gradient(262deg, #fd267d, #ff7854) !important;
}

.contentText {
    color: white;
    text-align: center;
    font-size: 12vw;
    font-weight: 800;
    user-select: none;
    width: 100%;
}