@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');


.container {
    background-image: url('../img/tinderback.webp');
    height: 100vh;
    background-position: center;
    background-size: cover;
    
}

.header {
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(6,6,6,1) 0%, rgba(0,0,0,0.8210363418530351) 5%, rgba(0,212,255,0) 100%);
    height: 100%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.realheader {
    display: flex;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registerbtn {
    color: white !important;
    background: rgb(245,34,45) !important;
    background: linear-gradient(90deg, rgba(245,34,45,0.825817347359736) 0%, rgba(174,11,19,1) 52%, rgba(245,34,45,0.8027150371287128) 100%) !important;
    border: none !important;
    width: 30vw !important;
    height: 7vw !important;
    font-size: 3vw !important;
}

.registerbtn:hover {
    background: rgb(249,0,13) !important;
    background: linear-gradient(90deg, rgba(249,0,13,0.7928140470297029) 0%, rgba(174,11,19,1) 52%, rgba(244,9,21,1) 100%) !important;
}

.newstyle:hover{
    color: #f5222d !important;
    border-color: #f5222d !important;
}
