.profileInfoConatainer {
    height: 100vh; 
    overflow: auto;
    padding-bottom: 150px;
    align-items: center;
    .floatBtn {
      position: absolute;
      display: flex;
      justify-content: flex-end;
      z-index: 100;
      bottom: 5px;
      right: 20px;
      width: 100%;
    }
    
    .saveProfileBtn {
      color: white !important;
      background: rgb(245, 34, 45) !important;
      background: linear-gradient(262deg, #ff7854, #fd267d) !important;
      border: none !important;
      cursor: pointer;
      width: 75px !important;
      height: 30px !important;
      font-size: 1em !important;
      font-weight: 500 !important;
      padding: 0 !important;
      box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.27) !important;
    }
}

::-webkit-scrollbar {
  display: none;
}

.accountSet {
    margin-top: 50px;
}

.setTitle {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 1.2rem;
    font-weight: 520;
    color: #5c5c5c;
}

.setBox {
    width: 100%;
    min-height: 50px;
    color: #2c2c2c;
    background-color: #fff;
    border: 1px #e0e0e0 solid;
    padding: 0 15px;
    padding-top: 9px;
}

.rowsetBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.columnsetBox {
    display: flex;
    flex-direction: column;
}

.boxValue {
    color: #afacac;
}

.borderTopNone {
    border-top: none;
}