.rightSideCard {
    color: #2d2d2d;
    background: #f6f7fa;
    height: 100vh;
    width: 100%;
    border-left: 1px #d6d6d6 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    .infoCardContainer {
        width: 375px;
        height: 667px;
        max-height: calc(100vh - 44px);
        min-height: 375px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .infoPage {
        position: relative;
        box-shadow: 0 2px 10px 0 rgba(136, 136, 136, 0.77);
        border-radius: 8px;
        background: #fff;
        width: 100%;
        height: 100%;
        z-index: 1;
        overflow-y: auto;
        display: block;
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        user-select: none;
    }
    .infoPage::-webkit-scrollbar {
        display: none;
    }
    .fiximg {
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: column;
    }
    .imgCard {
        width: 100%;
        height: 100% !important;
    }
    .fisrtNameCard {
        font-weight: 950;
        font-size: 2rem;
    }
    .rowboxCard {
        display: flex;
        flex-direction: row;
        margin-left: 15px;
        margin-right: 15px;
    }
    .smallfontCard {
        font-size: 1.2rem;
        font-weight: 200;
        margin-left: 7px;
    }
    .likePerson {
        box-shadow: 0 5px 7px 4px rgba(112, 125, 134, 0.14);
        background-color: #fff;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        font-size: 1.8rem;
        text-align: center;
        margin: 10px;
        cursor: pointer;
        padding: 10px;
        display: flex;
        align-items: center;
    }
    .personReactions {
        position: absolute;
        display: flex;
        flex-direction: row;
        z-index: 100;
        align-items: center;
    }
    .editProfileBtn {
        color: white !important;
        background: rgb(245, 34, 45) !important;
        background: linear-gradient(262deg, #ff7854, #fd267d) !important;
        border: none !important;
        cursor: pointer;
        width: 120px !important;
        height: 40px !important;
        font-size: 1.2em !important;
        font-weight: 500 !important;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .27) !important;
        margin: 5px;
    }
}

.mobilerightSideCard {
    color: #2d2d2d;
    background: #f6f7fa;
    height: 90%;
    width: 100%;
    border-left: 1px #d6d6d6 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    .infoCardContainer {
        width: 100%;
        height: 90%;
        margin-left: 1%;
        margin-right: 1%;
        max-height: calc(100vh - 44px);
        min-height: 375px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .infoPage {
        position: relative;
        box-shadow: 0 2px 10px 0 rgba(136, 136, 136, 0.77);
        border-radius: 8px;
        background: #fff;
        width: 100%;
        height: 100%;
        z-index: 1;
        overflow-y: auto;
        display: block;
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        user-select: none;
    }
    .infoPage::-webkit-scrollbar {
        display: none;
    }
    .fiximg {
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: column;
    }
    .imgCard {
        width: 100%;
        height: 100% !important;
    }
    .fisrtNameCard {
        font-weight: 950;
        font-size: 2rem;
    }
    .rowboxCard {
        display: flex;
        flex-direction: row;
        margin-left: 15px;
        margin-right: 15px;
    }
    .smallfontCard {
        font-size: 1.2rem;
        font-weight: 200;
        margin-left: 7px;
    }
    .likePerson {
        box-shadow: 0 5px 7px 4px rgba(112, 125, 134, 0.14);
        background-color: #fff;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        font-size: 1.8rem;
        text-align: center;
        margin: 10px;
        cursor: pointer;
        padding: 10px;
        display: flex;
        align-items: center;
    }
    .personReactions {
        position: absolute;
        display: flex;
        flex-direction: row;
        z-index: 100;
        align-items: center;
    }
    .editProfileBtn {
        color: white !important;
        background: rgb(245, 34, 45) !important;
        background: linear-gradient(262deg, #ff7854, #fd267d) !important;
        border: none !important;
        cursor: pointer;
        width: 120px !important;
        height: 40px !important;
        font-size: 1.2em !important;
        font-weight: 500 !important;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .27) !important;
        margin: 5px;
    }
}