    .ant-modal-content {
        border-radius: 10px !important;
        display: flex !important;
        flex-direction: column;
    }
    
    .ant-modal-body {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .appsLogos {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .app {
        border: 1px solid rgb(112, 111, 111);
        padding: 10px 40px;
        border-radius: 50px;
    }
    
    .app:hover {
        border: 1px solid rgb(0, 0, 0);
        cursor: pointer;
    }
    
    .header {
        display: flex;
        justify-content: space-between;
    }
    
    .newstyle:hover {
        color: #f5222d !important;
        border-color: #f5222d !important;
    }
    
    .loginoption {
        margin-top: 25px;
        width: 100%;
    }